<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.barbara.SuccessQuotes.quoterefresh</string>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Instagram Photo</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.instagram.photo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.barbara.SuccessQuotesV2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>successquotes</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>instagram-stories</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NewYorkItalic.ttf</string>
		<string>NewYork.ttf</string>
		<string>EditorialNew-Regular.ttf</string>
		<string>ACaslonPro-Regular.otf</string>
		<string>ACaslonPro-Bold.otf</string>
		<string>ACaslonPro-Semibold.otf</string>
		<string>Inter-Regular.ttf</string>
		<string>Helvetica Now Display.otf</string>
		<string>Helvetica Now Display Bold.otf</string>
		<string>Helvetica Now Display Medium.otf</string>
		<string>Helvetica Now Display Light.otf</string>
		<string>EditorialNew-Light.ttf</string>
		<string>EditorialNew-Ultralight.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Light.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
	</array>
</dict>
</plist>
